.tabs-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.tabs-container {
  display: flex;
  flex-direction: column;
}

.pinned-tabs,
.regular-tabs {
  display: flex;
  flex-wrap: nowrap;
}

.tab {
  padding: 10px 20px;
  white-space: nowrap;
  margin-right: 10px;
}

.tab button {
  margin-right: 5px;
}
